html, body {
  height: 100vh;
  margin: 0;
}

.content {
  background: rgba(209, 173, 42, 50%);
  margin: auto 20px;
  padding: 0 10px 5px;
  min-height: 100%;
}

a:link, a:visited {
  color: black;
}

p {
  max-width: 90%;
}

.removeparagraphspace p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  margin-top: 16px;
  width: 50%;
}

.footer {
  background: white;
  height: 20px;
}